language: java
before_install:
  - unset _JAVA_OPTIONS
  - wget http://www.deflaker.org/maven/apache-maven-3.3.9.zip
  - unzip -qq apache-maven-3.3.9.zip
  - export M2_HOME=$PWD/apache-maven-3.3.9
  - export PATH=$M2_HOME/bin:$PATH
jdk:
  - oraclejdk8
